/****************************************************************
GENERAL
****************************************************************/
body {
	max-width: 100%;
}
.wrapper {
	display: -webkit-flex;
	height: 100%;
	-webkit-flex-flow: column;
	-webkit-justify-content: space-around;
	margin: auto;
}


/****************************************************************
LOGO
****************************************************************/


div img {
	-webkit-order: 1;
	height: 220px;
}


/****************************************************************
TITLE
****************************************************************/

.title {
	-webkit-order: 2;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	color: #585858;
	font-size: 5.6vw;
	text-align: center;
	margin: auto;
}

.title:hover span {
	display: none;
}

.title:hover:before {
	content:"Austin G. Davis Richardson";
	color: tomato;
}


/****************************************************************
NAVIGATION
****************************************************************/

nav {
	-webkit-order: 3;
	line-height: 1.75;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4.4vw;
	margin-top: -3%;
}

nav ul {
	padding: 0;
	text-align: center;
}


ul li a {
	color: #B8B8B8;
	text-decoration: none;
}

ul li a:hover {
	color: tomato;
}


@media screen and (min-width: 480px) {

	.title {
		font-size: 5vw;
	}

	nav {
		display: -webkit-flex;
		-webkit-justify-content: center;
	}

	nav ul {
		width: 350px;
		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-flow: row wrap;
  		-webkit-justify-content: space-around;
	}

	nav ul li {
		font-size: 3.2vw;
	}

	.dot {
		color: #B8B8B8;
	}
}

@media screen and (min-width: 740px) {
	
	.title {
		font-size: 4.5vw;
	}

	nav {
		display: -webkit-flex;
		-webkit-justify-content: center;
	}

	nav ul {
		width: 450px;
		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-flow: row wrap;
		-webkit-justify-content: space-around;
	}

	nav ul li {
		font-size: 1.5vw;
	}

}

